<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PayPalDemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE76D0481D2BD3D900276951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE76D0611D2BD3DA00276951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE76D06C1D2BD3DA00276951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
